<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    
    <a href="{{ url_for('inicio')}}"> Inicio </a> <!--Para linkear al html de inicio-->
    <a href="{{ url_for('contacto')}}"> Contacto </a> <!--Para linkear al html de contacto-->

    <h2>Numero: +595 984 910733</h2>    
    <h3>email: gabifleitas15@gmail.com</h3>
</body>
</html>